@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.navbar {
    background-color: #362740;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  body{
    background-color: #7A3457;
  }
  
  .logo {
    height: 30px;
    padding-top: 19px;

  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-container .logoo {
    width: 100px;
    height: 100px;
  }
  
  .hello-box {
    background-color: #f2f2f2;
    padding: 2px;
    text-align: center;
    width: fit-content;
    margin-top: -20px;
    background-color: #CD366B ;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;

  }
  .hello-box p {
   color: white;
   font-weight: 500;
   font-size: 27px;
   font-family: 'Poppins', sans-serif;
}

  .registration-form {
    width: 1600px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #67233b; */
    color: white;
  }
  
  .file-label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;

  }
  
  .file-input-container {
    display: flex;
    align-items: center;
    border: 1px dotted #bbb;
    padding: 5px;
    border-radius: 8px;
    height: 100px;

    

  }
  
  .logo-container {
    margin-right: 10px;
  }
  
  .file-input {
    display: none;
  }
  
  .browse-button {
    background-color: rgb(137, 137, 234);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: auto;
    border-radius: 5PX;
  }
  
  .form-input,
  .form-textarea,
  .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .radio-group {
    padding-top: 9px;
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
    /* text-decoration: none; */
    /* font-family: 'Poppins', sans-serif; */
}
  
  .radio-label {
    display: flex;
    align-items: center;
  }
  .gender{
    font-weight: 4;
  }
  
  .submit-container {
    display: flex;
    justify-content: center;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  